@media screen and (max-width: 1020px) {
  .body {
    gap: 40px;
  }
  .main {
    gap: 10px;
    padding-bottom: 25px;
  }
  .header {
    .title {
      font-size: 2.2rem;
    }
    .header-image {
      right: -33px;
    }
    .subtitle {
      font-size: 3.2rem;
      bottom: -31%;
      right: -4%;
    }
  }
  .section-gallows {
    padding: 10px 0 0;
    width: 265px;
    height: 290px;
    overflow: hidden;
    .gallows {
      width: 265px;
      height: 290px;
    }
    .text {
      bottom: 73px;
      right: 70px;
    }
    .text-woman {
      left: 20px;
      top: 30px;
    }
    .gallows-man {
      top: 20%;
      right: 36.8%;
      width: 59.1px;
    }
    .woman-gallows {
      width: 264.6px;
      height: 289.82px;
    }
    .gallows-woman {
      right: 29.2%;
      width: 107px;
      top: 8.2%;
      animation: windForWoManMobile 3.7s infinite alternate;
      .woman-img {
        right:23%;
      }
    }
  }
}