@use '../abstracts' as *;

.modal-wrapper {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 340px;
  height: 330px;
  position: fixed;
  left: calc(50% - 340px/2);
  top: calc(50% - 330px/2);
  z-index: 50;
  background-color: #242424;
  border-radius: 10px;
  transform: translateY(-100vh);
  .title-modal {
    color: $white;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  .modal-answer {
    color: $white;
    font-size: 1.7rem;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .modal-text {
      color: $orange;
      letter-spacing: 0.2rem;
      font-size: 2rem;
      text-transform: uppercase;
    }
    .modal-subtitle {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      text-align: center;
      font-size: 1.3rem;
    }
  }
  .button-try-again {
    font-size: 1.5rem;
    padding: 5px 30px;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    border: 1px solid $white;
    border-radius: 5px;
    background: linear-gradient(
      to right,
      #78418c,
      $mint,
      #7e9799,
      $orange,
      #c11771,
      #c93b59,
    );
    background-size: 300%;
    background-position: -100%;
    background-clip: text;
    color: transparent;
    animation: gradientPlayAgain 7s infinite alternate-reverse;
    &:active {
      color: $orange;
      border-color: $orange;
    }
  }
}