@use '../abstracts' as *;

.section-gallows {
  width: 356px;
  height: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: max-content;
  user-select: none;
  .text-woman,
  .text {
    position: absolute;
    width: 100px;
    height: 26px;
    font-size: 1rem;
    opacity: 0.7;
    background: transparent;
    color: $white;
    outline: none;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    z-index: 10;
  }
  .text {
    right: 117px;
    bottom: 98px;
    transform: rotateZ(-6.6deg);
  }
  .text-woman {
    left: 32px;
    top: 26px;
    transform: rotateZ(-1.6deg);
    z-index: 9;
  }
  .gallows,
  .woman-gallows {
    width: 356px;
    height: 390px;
  }
  .woman-gallows {
    position: relative;
    z-index: 8;
  }
  .gallows-woman {
    position: absolute;
    top: 6%;
    right: 28%;
    width: 144px;
    height: 347px;
    animation: windForWoMan 3.7s infinite alternate;
    transform-origin: center top;
    .woman-img {
      visibility: hidden;
      position: absolute;
      width: 100%;
      top: 0%;
      right: 27%;
      z-index: 7;
    }
  }
  .gallows-man {
    position: absolute;
    top: 18.9%;
    right: 37.9%;
    width: 75px;
    height: 174px;
    animation: windForMan 1.7s infinite alternate;
    transform-origin: top center;
    .img {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 7;
      visibility: hidden;
    }
  }
}
