@media (hover: hover) and (pointer: fine) {
  .logo {
    &:hover {
      .logo-image {
        svg {
          path {
            &:first-child {
              fill: $dark;
            }
            &:nth-child(n+2):nth-child(-n+9) {
              fill: $accent;
            }
          }
        }
      }
    }
  }
  .social-icon {
    &:hover {
      background: #E1D4C9;
      svg {
        path {
          stroke: $dark;
        }
      }
    }
  }
  .list-item,
  .menu {
    &:hover {
      &::after {
        width: 100%;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .about-section {
    .about-block {
      .img-wrapper {
        &:hover {
          .about-img {
            scale: 1;
          }
        }
      }
    }
  }
  .footer {
    .right-block {
      .contacts-list {
        .contacts-link {
          &:not(:last-child):hover {
            &::after {
              width: 100%;
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }
  .favorite-section {
    .slider-block {
      .arrow {
        &:hover {
          background-color: $gray;
          svg {
            path {
              stroke: $text-light;
            }
          }
        }
      }
    }
  }
  .hero-section {
    .hero-block {
      .hero-btn {
        &:hover {
          span {
            left: -4px;
          }
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
  .menu-section {
    .menu-tabs {
      .tabs-list {
        .tabs-link {  
          &:nth-child(2),
          &:nth-child(3) {
            &:hover {
              background: $gray;
              cursor: pointer;
              .link-block {
                background: $text-light;
              }
              .link-text {
                color: $text-light;
              }
            }
          }
        }
      }
    }
    .menu-list {
      .card {
        &:hover {
          .item-wrapper {
            .item-img {
              scale: 0.93;
            }
          }
        }
      }
    }
  }
  .mobile-section {
    .mobile-block {
      .mobile-links {
        .mobile-link {
          &:hover {
            background-color: $gray;
            .links-title,
            .links-subtitle {
              color: $text-light;
            }
            svg {
              path {
                fill: $text-light;
              }
            }
          }
        }
      }
    }
  }
}