@media screen and (max-width: 767px) {
  .title {
    font-size: 32px;
  }
  .header {
    padding: 20px 16px;
  }
  .main {
    padding: 0 16px;
  }
  .menu-section {
    .menu-tabs {
      .title {
        font-size: 32px;
      }
    }
  }
  .footer {
    .footer-block {
      .left-title {
        font-size: 46px;
      }
    }
  }
  .favorite-section {
    .slider-block {
      .arrow {
        display: none;
      }
      .slider {
        min-width: auto;
        .slider-img {
          max-width: 348px;
          max-height: 348px;
        }
      }
    }
    .title {
      font-size: 32px;
    }
  }
  .hero-section {
    padding: 60px 16px;
    .hero-block {
      .hero-title {
        font-size: 42px;
        line-height: 115%;
      }
    }
  }
  .about-section {
    gap: 39px;
    .about-block {
      .img-wrapper {
        .about-img {
          scale: 1.24;
        }
        &:nth-child(1), 
        &:nth-child(4) {
          max-width: 348px;
          height: 590px;
        } 
      }
    }
  }
  .mobile-section {
    gap: 40px;
    .mobile-block {
      .mobile-links {
        flex-direction: column;
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .mobile-section {
    .mobile-img {
      width: 90%;
    }
  }
}