@media screen and (max-width: 767px) {
  .header {
    padding: 20px 16px;
  }
  .menu-section .menu-tabs .title {
    font-size: 32px;
  }
  .main {
    padding: 0 16px;
  }
  .footer .footer-block .left-title {
    font-size: 46px;
  }
}