@media screen and (max-width: 1439px) {
  .hero-section {
    padding: 100px 60px;
  }
  .favorite-section {
    .title {
      text-align: center;
    }
  }
  .about-section {
    .about-block {
      max-height: max-content;
      .img-wrapper {
        max-width: 688px;
        .about-img {
          scale: 1.05;
        }
        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
  .mobile-section {
    flex-direction: column;
    gap: 100px;
    .mobile-block {
      max-width: 688px;
    }
  }
  .footer {
    gap: 100px;
    margin: 100px 40px 40px;
    padding: 100px 60px;
    flex-direction: column;
    .right-block {
      min-height: 186px;
    }
  }
}