@media screen and (max-width: 1199px) {
  .header {
    .menu {
      display: none;
    }
    .nav {
      .list {
        display: none;
      }
      .burger {
        display: flex;
      }
    }
  }
  .menu-section {
    .menu-list {
      max-width: 700px;
      .card {
        &:nth-child(5),
        &:nth-child(6) {
          display: none;
        }
      }
    }
  }
}