.favorite-section {
  max-width: 1360px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  .slider-block {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    max-width: 1360px;
    width: 100%;
    .arrow {
      border-radius: 100px;
      border: 1px solid $gray;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .slider {
      width: 100%;
      max-width: 1152px;
      min-width: 480px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
      .slider-img {
        max-width: 480px;
        max-height: 480px;
      }   
      .slider-textblock {
        max-width: 480px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        font-family: Inter;
        font-style: normal;
        color: $dark;
        .slider-title {
          font-weight: 600;
          line-height: 125%;
          font-size: 24px;
        }
        .slider-text {
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
          &:last-child {
            font-weight: 600;
            line-height: 125%;
            font-size: 24px;
          }
        }
      }
    }
  }
  .slider-progressbar {
    display: flex;
    gap: 12px;
    .progressbar-line {
      width: 40px;
      height: 4px;
      border-radius: 100px;
      background-color: $accent-light;
      &:first-child {
        background-color: $gray;
      }
    }
  }
}