.hero-section {
  max-width: 1360px;
  padding: 100px;
  display: flex;
  position: relative;
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 40px;
  }
  .hero-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 530px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: $text-light;
    font-feature-settings: 'clig' off, 'liga' off;
    position: relative;
    z-index: 3;
    .hero-title {
      font-size: 72px;
      font-weight: 600;
      line-height: 76px;
    }
    .hero-text {
      line-height: 150%;
    }
    .hero-btn {
      border-radius: 100px;
      width: 200px;
      height: 64px;
      background-color: $text-light;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      color: $dark;
      span {
        position: relative;
        left: 10px;
      }
      &::after {
        content: url('../assets/svg/coffee-cup.svg');
        position: relative;
        opacity: 0;
        width: 20px;
        height: 20px;
        left: 5px;
        transition: all 0.7s ease-in-out;
      }
    }
  }
  @media screen and (max-width: 1439px) {
    // .hero-section {
      .hero-block {
        .hero-btn {

            span {
              left: -4px;
            }
            &::after {
              opacity: 1;
              left: 5px;
            }
          
        }
      }
    // }
  }
}