.hero-section {
  max-width: 1360px;
  padding: 100px;
  background-image: url('../assets/img/img-hero.webp');
  border-radius: 40px;
  background-position: center center;
  background-size: cover;
  display: flex;
  .hero-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 530px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: $text-light;
    font-feature-settings: 'clig' off, 'liga' off;
    .hero-title {
      font-size: 72px;
      font-weight: 600;
      line-height: 76px;
    }
    .hero-text {
      line-height: 150%;
    }
    .hero-btn {
      border-radius: 100px;
      width: 200px;
      height: 64px;
      background-color: $text-light;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $dark;
      span {
        position: relative;
        left: 10px;
      }
      &::after {
        content: url('../assets/svg/coffee-cup.svg');
        position: relative;
        opacity: 0;
        width: 20px;
        height: 20px;
        left: 10px;
        transition: all 0.7s ease-in-out;
      }
    }
  }
}