.menu-section {
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  .menu-tabs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .title {
      max-width: 800px;
      text-align: center;
    }
    .tabs-list {
      display: flex;
      gap: 16px;
      justify-content: center;
      align-items: center;
      .tabs-link {  
        border-radius: 100px;
        display: flex;
        padding: 8px 16px 8px 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background: $gray;
        cursor: default;
        .link-block {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $text-light;
          border-radius: 100px;
          .link-icon {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .link-text {
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          color: $text-light;
        }
        &:nth-child(2),
        &:nth-child(3) {
          background: transparent;
          border: 1px solid $accent-light;
          .link-block {
            background: $accent-light;
          }
          .link-text {
            color: $dark;
          }
        }
      }
    }
  }
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    .card {
      display: flex;
      flex-direction: column;
      width: 310px;
      height: 506px;
      border: 1px solid $accent-light;
      border-radius: 40px;
      .item-wrapper {
        border-radius: 40px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 310px;
        height: 310px;
      }
      .text-wrapper {
        padding: 20px;
        position: relative;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        color: $dark;
        height: 196px;
        .item-img {
          scale: 1.05;
        }
        .item-title {
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 125%;
          margin-bottom: 12px;
        }
        .item-text {
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
        }
        .item-price {
          position: absolute;
          left: 20px;
          bottom: 20px;
        }
      }
    }
  }
}