.mobile-section {
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .mobile-block {
    max-width: 630px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .mobile-text {
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    .mobile-links {
      display: flex;
      gap: 20px;
      .mobile-link {
        display: flex;
        padding: 12px 20px;
        width: 200px;
        height: 64px;
        gap: 8px;
        border-radius: 100px;
        border: 1px solid $gray;
        transition: color 0.5s ease-in-out;
        .mobile-textblock {
          color: $dark;
          display: flex;
          flex-direction: column;
          gap: 2px;
          font-family: Inter;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
          .links-subtitle {
            font-size: 16px;
            line-height: 150%
          }
        }
        svg {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
  .mobile-img {
    max-width: 630px;
    width: 100%;
    max-height: 630px;
  }
}