.rotate360 {
  animation: rotate360 1s ease-in-out;
}

@keyframes rotate360 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes progressBarAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}