@media (hover: hover) and (pointer: fine) {
  .section-logic {
    .keyboard-wrapper {
      .button {
        &:not(:disabled) {
          &:hover {
            background-color: #212121;
            border: 1px solid rgba($color: #9ceb8c, $alpha: 0.3);
            box-shadow: 0 4px #9ceb8c;
            color: #9ceb8c;
          }
        }
      }
    }
  }
  .modal-wrapper {
    .button-try-again {
      &:hover {
        color: #ff810b;
        animation: none;
        border-color: #ff810b;
      }
    }
  }
  .footer {
    .copyright-link {
      &:hover {
        color: #ff810b;
      }
    }
  }
}