@media screen and (max-width: 480px) {
  .body {
    gap: 5px;
  }
  .main {
    padding-bottom: 30px;
  }
  .section-logic {
    gap: 3px;
    .title-question {
      font-size: 1.2rem;
    }
    .keyboard-wrapper {
      gap: 7px 4px;
    }
  }
}