@media screen and (max-width: 480px) {
  .body {
    gap: 5px;
  }
  .section-gallows {
    padding: 10px 0 0;
  }
  .img {
    top: 20%;
    right: 13%;
    &:nth-child(3) {
      top: 36%;
      right: 20.4%;
    }
    &:nth-child(4) {
      top: 39%;
      right: 7%;
    }
    &:nth-child(5) {
      top: 39%;
      right: 20.4%;
    }
    &:nth-child(6) {
      right: 6.5%;
      top: 60%;
    }
    &:nth-child(7) {
      right: 21.4%;
      top: 60%;
    }
  }
  .section-logic {
    gap: 5px;
    .title-question {
      font-size: 1.2rem;
    }
    .keyboard-wrapper {
      gap: 7px 3px;
    }
  }
}