@media screen and (max-width: 1020px) {
  .body {
    gap: 40px;
  }
  .main {
    gap: 10px;
    padding-bottom: 10px;
  }
  .header {
    .title {
      font-size: 2.2rem;
    }
    .header-image {
      right: -33px;
    }
  }
  .section-gallows {
    padding: 10px 0 0;
    width: 265px;
    .gallows {
      width: 265px;
      height: 290.3px;
    }
    .gallows-man {
      top: 22%;
      right: 34.5%;
      width: 66.1px;
      height: 134px;
      .img {
        width: 40px;
        height: 43px;
        top: 0;
        right: calc(50% - 40px/2);
        &:nth-child(2) {
          height: 64.15px;
          width: 19.35px;
          top: 26%;
          right: 52.4%;
        }
        &:nth-child(3) {
          top: 16%;
          right: 21%;
          height: 45px;
          width: 39.75px;
        }
        &:nth-child(4) {
          height: 45px;
          width: 39.75px;
          top: 39.3%;
          right: 64.4%;
        }
        &:nth-child(5) {
          height: 44px;
          width: 41.4px;
          right: 19.8%;
          top: 67.2%;
        }
        &:nth-child(6) {
          right: 60.4%;
          top: 66.5%;
          height: 51px;
          width: 25.14px;
        }
      }
    }
  }
}