@media screen and (max-width: 914px) {
  .list-item {
    font-size: 1.3rem;
    height: 26px;
  }
  .body {
    gap: 20px;
  }
  .fails {
    height: 20px;
  }
  .section-logic {
    gap: 5px;
    .keyboard-wrapper {
      .button {
        height: 32px;
        width: 45px;
        font-size: 0.8rem;
      }
    }
    .question-wrapper {
      height: 90px;
      .title-question {
        font-size: 1.3rem;
      }
    }
  }
}