.section-gallows {
  width: 360px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: max-content;
  .gallows {
    width: 360px;
    height: 394.38px;
  }
  .gallows-man {
    position: absolute;
    top: 17%;
    right: 32.5%;
    width: 103px;
    height: 209px;
    animation: windForMan 1.7s infinite alternate;
    transform-origin: top center;
    .img {
      position: absolute;
      width: 62px;
      height: 67px;
      top: 0%;
      right: calc(50% - 62px/2);
      z-index: 7;
      user-select: none;
      visibility: hidden;
      &:nth-child(2) {
        top: 25%;
        height: 100px;
        width: 27px;
        right: 55%;
        z-index: 6;
      }
      &:nth-child(3) {
        top: 18.4%;
        height: 59.16px;
        width: 54px;
        right: 19%;
        z-index: 5;
      }
      &:nth-child(4) {
        top: 38%;
        height: 59.16px;
        width: 54px;
        right: 69%;
        z-index: 5;
      }
      &:nth-child(5) {
        top: 68%;
        height: 59.16px;
        width: 57.6px;
        right: 24.3%;
        z-index: 6;
      }
      &:nth-child(6) {
        top: 68%;
        height: 67px;
        width: 39.6px;
        right: 60%;
        z-index: 7;
      }
    }
  }
}


.section-gallows {
  width: 360px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: max-content;
  .text-woman,
  .text {
    position: absolute;
    width: 100px;
    height: 26px;
    font-size: 1rem;
    opacity: 0.7;
    background: transparent;
    color: #ffffff;
    outline: none;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    user-select: none;
  }
  .text {
    right: 117px;
    bottom: 98px;
    transform: rotateZ(-6.6deg);
  }
  .text-woman {
    left: 32px;
    top: 26px;
    transform: rotateZ(-1.6deg);
    z-index: 9;
  }
  .woman-gallows {
    width: 360px;
    height: 394.38px;
    position: relative;
    z-index: 8;
  }
  .gallows-woman {
    position: absolute;
    top: 6%;
    right: 0;
    width: 100%;
    height: 94%;
    animation: windForWoMan 3.7s infinite alternate;
    transform-origin: top center;
    .woman-img {
      position: absolute;
      width: 136.97px;
      height: 369.89px;
      top: -2%;
      right: calc(61% - 80px);
      z-index: 7;
      user-select: none;
      visibility: hidden;
      &:nth-child(2) {
        top: 34.1%;
        width: 68.27px;
        height: 51.34px;
        right: 48.9%;
        z-index: 5;
      }
      &:nth-child(3) {
        top: 43.2%;
        width: 40.26px;
        height: 33.72px;
        right: 49.2%;
        z-index: 5;
      }
      &:nth-child(4) {
        top: 34.1%;
        width: 68.96px;
        height: 91.86px;
        right: 49.2%;
        z-index: 9;
      }
      &:nth-child(5) {
        top: 38%;
        width: 43.52px;
        height: 41.62px;
        right: 63.5%;
        z-index: 7;
      }
      &:nth-child(6) {
        top: 53.5%;
        width: 106.77px;
        height: 93.86px;
        right: 32%;
        z-index: 8;
      }
      &:nth-child(7) {
        top: 60.6%;
        width: 47.53px;
        height: 45.76px;
        right: 40.2%;
        z-index: 8;
      }
    }
  }
}