.header {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
  .logo {
    max-width: 100px;
    height: 60px;
  }
  .nav {
    display: flex;
    align-items: center;
    .list {
      display: flex;
      gap: 40px;
      .list-item {
        list-style: none;
        .item-link {
          color: $dark;
          &:visited {
            color: $dark;
          }
        }
      }
      &.toggle-menu {
        right: 0;
      }
    }
    .burger {
      display: none;
      width: 44px;
      height: 44px;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      border: 1px solid $gray;
      flex-direction: column;
      gap: 8px;
      .burger-line {
        width: 16px;
        height: 1.4px;
        background-color: $gray;
        border-radius: 2px;
        border: none;
        &:first-child {
          &.rotate-plus {
            transform: rotate(45deg) translate(3px, 3.5px);
          }
        }
        &:last-child {
          &.rotate-minus {
            transform: rotate(-45deg) translate(3px, -3.5px);
          }
        }
      }
    }
  }
  .menu {
    display: flex;
    gap: 8px;
    align-items: flex-start ;
    &.toggle-menu {
      right: calc(50% - 71.5px);
    }
  }
}

.list-item,
.menu {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  position: relative;
  .menu-link {
    color: $dark;
    &:visited {
      color: $dark;
    }
  }
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $dark;
    width: 0;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%);
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }
}

.header {
  .nav {
    .list {
      &.burger-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        right: 0;
        top: 0;
      }
    }
  }
}

// .header {
//   .nav {
//     .list {
//       &.burger-flex {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         position: fixed;
//         width: 100%;
//         height: 100vh;
//         right: 0;
//         top: 0;
//       }
//     }
//     // &.position-burger {

//     // }
//   }
// }
