.header {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
  .logo {
    max-width: 100px;
    height: 60px;
  }
  .nav {
    display: flex;
    align-items: center;
    .list {
      display: flex;
      gap: 40px;
      .list-item {
        list-style: none;
        .item-link {
          color: $dark;
          &:visited {
            color: $dark;
          }
        }
      }
    }
  }
  .menu {
    display: flex;
    gap: 8px;
    align-items: flex-start ;
  }
}

.list-item,
.menu {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  position: relative;
  color: $dark;
  &:visited {
    color: $dark;
  }
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $dark;
    width: 0;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }
}
