@keyframes wind {
  0% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }

}
@keyframes windForMan {
  0% {
    transform: rotateZ(-2deg);
  }
  100% {
    transform: rotateZ(1deg);
  }
}

@keyframes gradientPlayAgain {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}