@keyframes wind {
  0% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}

@keyframes windForMan {
  0% {
    transform: rotateZ(-2deg);
  }
  100% {
    transform: rotateZ(1deg);
  }
}

@keyframes windForWoMan {
  0% {
    transform: rotateZ(-30deg);
  }
  100% {
    transform: rotateZ(20deg);
  }
}

@keyframes windForWoManMobile {
  0% {
    transform: rotateZ(-24deg);
  }
  100% {
    transform: rotateZ(15deg);
  }
}

@keyframes gradientPlayAgain {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}