.body {
  background: url('../assets/img/bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: unset;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 360px;
  flex-direction: column;
  gap: 70px;
}
