@font-face {
  font-family: 'IndieFlower';
  src: url('../assets/fonts/IndieFlower-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rusted_Plastic';
  src: url('../assets/fonts/Rusted_Plastic.woff2') format('woff2');
  font-display: swap;
}
